$white: var(--white);
$white-05: var(--white-5);
$white-10: var(--white-10);
$white-15: var(--white-15);
$white-25: var(--white-25);
$white-50: var(--white-50);
$white-60: var(--white-60);
$white-75: var(--white-75);

$white-bgc: var(--white-bgc);
$white-bgc-25: var(--white-bgc-25);

$dark: var(--dark);
$dark20: var(--dark-20);

$primary: var(--primary);
$primary-lighten: var(--primary-lighten);
$primary-hover: var(--primary-hover);

$text-color: var(--text-color);
$text-color-primary: var(--text-color-primary);

$trs-delay-opacity: var(--trs-delay-opacity);
$trs-delay: var(--trs-delay);
$trs-delay-bgc: var(--trs-delay-background-color);

$header_height: var(--header-height);

$radius: 1.5rem;

$desktop: 1680px;
$laptop: 1349px;
$laptop_min: 1024px;
$tablet: 768px;
$mobile: 375px;