@import "../../styles/vars";
@import "../../styles/mixins";
.Button[disabled] {
  cursor: not-allowed;

  background-color: $primary-lighten;
}
.ButtonChoose {
  border-radius: 0.5rem;
  background-color: $primary-hover;
  border: 1px solid $primary;
  padding: 0.5rem 3rem 0.5rem 2rem;

  margin-bottom: 0.8rem;

  position: relative;
  &-arrow {
    position: absolute;
    right: 20%;
    top: 50%;

    transform: translateY(-50%);

    &:after {
      content: "";
      width: 0.6rem;
      height: 1px;
      background-color: $text-color;
      position: absolute;
      left: 0;

      transform: rotate(-45deg);
    }
    &::before {
      content: "";
      width: 0.6rem;
      height: 1px;
      background-color: $text-color;
      position: absolute;
      right: -0.2rem;
      transform: rotate(45deg);
    }

    &--up {
      transition: all $trs-delay linear;
      transform: rotate(180deg);
    }
    &--down {
      transition: all $trs-delay linear;
      transform: rotate(0deg);
    }
  }
  &-children {
    font-weight: 500;
    font-size: 1.2rem;
    color: $text-color;
  }
  &-block {
    position: absolute;
    top: calc(100% + 0.8rem);
    left: 0;

    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all $trs-delay linear;

    border-radius: 0.5rem;
    background-color: $primary-hover;
    border: 1px solid $primary;
    padding: 0.5rem 3rem 0.5rem 2rem;

    &-active {
      opacity: 1;
      visibility: visible;
    }
    &-selected {
      color: $primary!important;
    }
    &-item {
      padding: 0.3rem 0;

      font-size: 1.2rem;
      font-weight: 400;
      color: $text-color;

      white-space: nowrap;
    }
  }
}
.Button {
  position: relative;

  color: $text-color-primary;
  background-color: $primary;
  border: none;
  font-weight: 700;

  overflow: hidden;

  opacity: 1;
  visibility: visible;

  transition: all $trs-delay linear;

  &-hidden {
    opacity: 0;
    visibility: hidden;
  }

  &--md {
    padding: 1.7rem 4.3rem;
    font-size: 2rem;
    border-radius: 0.5rem;
  }
  &--sm {
    padding: 0.7rem 4.3rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
  }

  &-circle {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 50%;

    width: 6rem;
    height: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.Button-touch-ripple {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.Button-ripple {
  position: absolute;
  display: block;
  width: 5rem;
  height: 5rem;

  border-radius: 50%;

  opacity: 0.8;
  background-color: $primary-hover;

  transform: translate(-50%, -50%);

  pointer-events: none;

  animation: ripple 1.3s forwards;
}

@keyframes ripple {
  0% {
    opacity: 0.8;
    width: 1rem;
    height: 1rem;
  }
  100% {
    opacity: 0;
    width: 100.2rem;
    height: 100.2rem;
  }
}
